{% extends "base.html" %}
{% load static %}


{% block content %}
    {% if user.is_authenticated %}
        <form action = "" method = "POST" enctype = "multipart/form-data">{% csrf_token %}
            <p>  タイトル:<input type="text" name = "title"></p>
            <p>  音声:<input type="file" name = "audio"></p>
            <input type="hidden" name = "author" value =" {{user.id}}">
            <input type="submit" value ="作成する">
            <a href = "{% url "list"  %}" class = "btn btn-primary">戻る</a>

        </form>
    {% else %}
        ログインしてください
        <a href = "{% url "login" %}" class = "btn btn-primary" role = "button" aria-pressed = "true">ログイン</a>
    {% endif %}
{% endblock content %}