{% extends "base.html" %}

{% block header %}
{% endblock header %}

{% block content %}
    <div class = "container">
    <div class = "card">
        <h5  class = "card-header">{{ object.title }}</h5>
        <div class = "card-body">
            <audio src = {{object.audio.url}}  controls></audio>
            <h5>By  {{ object.author }}</h5>
            <button onclick="api_like({{object.pk}})" class = "btn btn-primary btn-sm">いいね</button>
            <a href = "{% url "list"  %}" class = "btn btn-primary btn-sm">戻る</a>
        </div>
    </div>
    </div>
{% endblock content %}
